In [21]:
# from codebase.area_calcs import stat_check
import pandas as pd
import numpy as np
import pytest

In [35]:
np.random.seed(12)
test_df = pd.DataFrame(data = np.random.uniform(size=(20,2)),columns = ['slope', 'p_value'])
test_df

       slope   p_value
0   0.154163  0.740050
1   0.263315  0.533739
2   0.014575  0.918747
3   0.900715  0.033421
4   0.956949  0.137209
5   0.283828  0.606083
6   0.944225  0.852736
7   0.002259  0.521226
8   0.552038  0.485377
9   0.768134  0.160717
10  0.764560  0.020810
11  0.135210  0.116273
12  0.309898  0.671453
13  0.471230  0.816168
14  0.289587  0.733126
15  0.702622  0.327569
16  0.334648  0.978058
17  0.624582  0.950314
18  0.767476  0.825009
19  0.406640  0.451308

In [48]:
stat_vals , bool_vec = stat_check(test_df,condition = 'pos',pcut=0.1)
stat_vals

       slope   p_value
3   0.900715  0.033421
10  0.764560  0.020810

In [47]:
pd.DataFrame(data = [[0.90071485 , 0.03342143], [0.76456045 , 0.0208098 ]], index = [3,10], columns =['slope', 'p_value'])

       slope   p_value
3   0.900715  0.033421
10  0.764560  0.020810

In [56]:
def test_stat_check_single():
    np.random.seed(12)
    input_df = pd.DataFrame(data = np.random.uniform(size=(20,2)),
                            columns = ['slope', 'p_value'])
    output_vals , output_bool = stat_check(test_df,condition = 'pos',pcut=0.1)
    expected_vals = pd.DataFrame(data = [[0.90071485 , 0.03342143], [0.76456045 , 0.0208098 ]],
                                 index = [3,10],
                                 columns =['slope', 'p_value'])
    pd.testing.assert_frame_equal(output_vals,expected_vals)
test_stat_check_single()