Global Runoff Data Center (GRDC) https://portal.grdc.bafg.de/

Download process:
1. Pick sub-region(s) or station(s) of interest.
2. Submit data request form. Select to include watershed boundaries.
3. Download zip file from request email response.

Download components:
- stationbasins.geojson: metadata and geoemetry of the watershed upstream of the gauge.
- subregions.geojson: global geodataframe of subregions
- stationID_Q_.txt: time series of Q (m3/s) for each station

In [3]:
import pandas as pd
import geopandas as gpd
import numpy as np
import xarray as xr
import rioxarray as rxr
import codebase

In [4]:
datadir = '/global/scratch/users/ann_scheliga/aux_dam_datasets/GRDC_CRB/'

In [5]:
subregions_meta = gpd.read_file(datadir + 'subregions.geojson')
stations_meta = gpd.read_file(datadir + 'stationbasins.geojson')

In [21]:
def load_station_metadata(id_no,filepath):
    stations_meta = gpd.read_file(filepath + 'stationbasins.geojson')
    station_meta = stations_meta.loc[stations_meta['grdc_no'] == id_no]
    return station_meta

In [24]:
def load_station_data_by_ID(id_no,filepath, timeseries_dict={},filename_str = '_Q_Day.Cmd.txt'):
    station_gpd = load_station_metadata(id_no,filepath)
    filename = str(int(id_no))+ filename_str
    station_timeseries = codebase.load_data.load_GRDC_timeseries(
    filename,
    filepath,
    **timeseries_dict)
    return station_gpd, station_timeseries

In [26]:
load_station_data_by_ID(4152050,filepath=datadir)

(     grdc_no           river                              station      area  \
 0  4152050.0  COLORADO RIVER  BELOW YUMA MAIN CANAL WW AT YUMA,AZ  618715.0

    altitude  lat_org  long_org   lat_pp   long_pp  dist_km  area_calc quality  \
 0     31.09  32.7317 -114.6319  32.7313 -114.6312      0.1   615846.2    High

         type                                     comment      source  \
 0  Automatic  Area difference <= 5% and distance <= 5 km  hydrosheds

                                             geometry
 0  MULTIPOLYGON (((-110.90830 41.35830, -110.9042...  ,
              Q m3s
 Date
 2000-01-01  24.777
 2000-01-02  30.016
 2000-01-03  37.661
 2000-01-04  24.749
 2000-01-05  23.107
 ...            ...
 2024-01-27  45.024
 2024-01-28  36.246
 2024-01-29  33.697
 2024-01-30  32.564
 2024-01-31  33.414

 [8797 rows x 1 columns])

In [16]:
stations_meta.loc[stations_meta['grdc_no'] == 4152050]

,grdc_no,river,station,area,altitude,lat_org,long_org,lat_pp,long_pp,dist_km,area_calc,quality,type,comment,source,geometry
0,4152050.0,COLORADO RIVER,"BELOW YUMA MAIN CANAL WW AT YUMA,AZ",618715.0,31.09,32.7317,-114.6319,32.7313,-114.6312,0.1,615846.2,High,Automatic,Area difference <= 5% and distance <= 5 km,hydrosheds,"MULTIPOLYGON (((-110.90830 41.35830, -110.9042..."

In [9]:
codebase.load_data.load_GRDC_timeseries('4152050_Q_Day.Cmd.txt', start_year=2018,stop_year = 2024)

             Q m3s
Date
2018-01-01  25.542
2018-01-02  28.600
2018-01-03  27.920
2018-01-04  38.794
2018-01-05  39.927
...            ...
2023-12-27  22.512
2023-12-28  19.624
2023-12-29  19.057
2023-12-30  18.548
2023-12-31  19.029

[2191 rows x 1 columns]