# Initial visualization of GRACE mascons
## Dataset
Using [GSFC](https://earth.gsfc.nasa.gov/geo/data/grace-mascons) mascons with link to GSFC [documentation](https://earth.gsfc.nasa.gov/sites/default/files/2022-05/gsfc_mascons_hdf5_format_rl06v2.pdf)

## Environments and packages

In [3]:
grace_filename = 'gsfc.glb_.200204_202211_rl06v2.0_obp-ice6gd.h5'
grace_filepath = '/global/scratch/users/ann_scheliga/'

In [27]:
import numpy as np
import pandas as pd
import h5py

In [10]:
f = h5py.File(grace_filepath + grace_filename,'r')

In [56]:
# (works) mascon metadata
mascon_cols = list(f['mascon'])       # grab dataset names in mascon group
mascon_cols.remove('location_legend') # remove unused dataset name
mascon_df = pd.DataFrame()            # create empty pd.DataFrame
for key in mascon_cols:               # fill df
    mascon_df[key] = np.array(f['mascon'][key]).T.squeeze()

In [20]:
# (works) WE solutions
cmwe = pd.DataFrame(f['solution']['cmwe'])

,0,1,2,3,4,5,6,7,8,9,...,205,206,207,208,209,210,211,212,213,214
0,54.691892,78.133855,44.547898,43.710999,47.730855,45.079064,44.879136,46.301053,40.554585,47.421868,...,-169.934978,-172.100230,-190.539332,-190.096065,-188.894206,-190.234859,-208.976192,-177.947764,-184.212459,-181.977580
1,52.269963,71.443174,37.124612,36.021451,39.218568,38.015584,37.367627,39.105039,34.496736,37.858018,...,-163.581218,-166.974879,-180.707209,-180.007762,-182.461299,-181.030940,-195.847606,-178.194224,-178.577739,-180.615199
2,43.002050,55.813134,26.720418,25.472089,27.558011,27.436334,26.885598,29.419812,24.898534,28.375791,...,-139.183722,-146.594695,-160.948928,-153.056136,-160.392897,-155.370162,-172.637053,-155.480590,-152.158919,-157.602446
3,36.156027,47.043185,36.438498,39.869586,43.686755,42.355116,40.124064,40.108393,37.137099,41.672099,...,-134.247106,-131.784139,-139.022039,-148.329549,-141.484365,-146.231389,-146.716390,-142.244542,-147.246419,-141.862142
4,43.983200,58.883858,38.699711,39.441243,43.129734,41.657856,40.265541,41.269135,38.071015,42.671891,...,-143.499961,-142.712883,-151.648597,-162.157463,-155.846046,-160.167884,-163.340126,-157.344795,-163.639900,-159.185417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41163,-5.398593,-6.702841,0.730257,1.939265,-1.375402,-1.451277,3.618848,10.318260,-1.976756,2.097339,...,-1.090784,1.452377,6.764794,14.214471,2.259454,11.267843,8.276225,16.192170,13.999838,23.389499
41164,-5.143282,-3.585495,1.357815,1.995537,-2.264055,-2.489200,2.521876,10.110209,-1.066093,-0.819059,...,3.754460,8.292587,11.895864,17.609335,4.120021,12.057978,11.484878,17.089279,14.599531,24.619624
41165,-3.280975,0.173697,2.577265,4.236445,-1.615919,-2.939253,1.151613,9.196100,0.658966,-4.111098,...,7.080587,13.582077,14.187294,16.996234,6.388536,9.676683,13.464657,16.698427,14.130370,22.931265
41166,-0.738720,3.409939,2.260394,5.518389,1.076119,-0.740744,2.546086,11.380601,5.336588,-5.458207,...,13.228100,20.599435,16.456737,15.404330,5.234232,4.745130,13.459225,15.975738,13.402526,23.140190
41167,-0.326502,5.016747,0.981596,7.979858,5.114771,4.481362,6.230194,15.671093,10.283313,-6.719124,...,19.259316,25.933545,17.729307,12.792613,5.567205,1.069449,12.736054,16.534693,15.416343,25.792553

TypeError: cannot create a storer if the object is not existing nor a value are passed